<div class="row p-4">
    <div class="col-4">
        <h1>Griuli</h1>
    </div>

    <div class="col-2 me-2">
        <div class="row">
            <button class="private btn">
                <div class="row">
                    <div class="col-2 p-0">
                        <img src="../../../assets/padlock.svg" alt="Close">
                    </div>
                    <div class="col-10">
                        <p class="m-0">Notifiche</p>
                    </div>
                </div>
            </button>
        </div>
    </div>

    <div class="col-2">
        <div class="row">
            <button class="private btn">
                <div class="row">
                    <div class="col-2 p-0">
                        <img src="../../../assets/padlock.svg" alt="Close">
                    </div>
                    <div class="col-10">
                        <p class="m-0">Preferiti</p>
                    </div>
                </div>
            </button>
        </div>
    </div>

    <div id="accessContainer" class="col-3">
        <div class="row justify-content-end">
            <button class="access btn col-5 me-2">Registrazione</button>
            <button class="access btn col-5">Login</button>
        </div>
    </div>
</div>