/* Colors
Primary: #1a237e;
Light: #534bae;
Dark: #000051;
Danger: #B71C1C;
Light_background: #EFEFEF;
*/

h1{
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

h2{
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

p{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

div{
    padding: 0px;
    margin: 0px;
}

/* Navbar */

#navbar{
    height: 160px;
    background-color: white;
}

div{
    margin: 0px;
    padding: 0px;
}

#logo{
    background-image: url("../assets/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 8px;
    height: 160px;
    padding: 0px;
}


a{
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #534bae;
    font-weight: normal;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
    color: #534bae;
}

hr{
    background-color: #000051;
    height: 2px;
}

/* End navbar */


/* Details content */
.container{
    margin-top: 47px;
}

#Park_profile{
    background-image: url("../assets/parco.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 8px;
    margin-right: 24px;
}

#info-title{
    margin-bottom: 25px;
}

.info{
    margin: 0px;
}

#book{
    margin-top: 24px;
    color:#534bae;
    font-weight: bold;
    font-size: 24px;
    background-color: #EFEFEF;
    border: 1px solid #000051;
}

#timetables{
    background-color: #1a237e;
    margin-top: 28px;
    padding: 40px;
    border-radius: 8px;
}

.timetables-title{
    color: white;
    text-align:start;
    font-weight: bold;
}

.timetables-text{
    color: white;
    text-align:start;
    margin: 0px;
}

#attractions-title{
    margin-top: 64px;
    margin-bottom: 45px;
    color:#1a237e;
    font-weight: bold;
    text-align: center;
}

.attractions-card-link{
    text-align: center;
}

.card{
    background-color:#EFEFEF;
}

.card-body{
    padding: 32px;
}

.attractions-card{
    color: #000051;
}

.attractions-card-title{
    font-weight: bold;
    text-align: center;
}

.attractions-card-text{

}
/* End dettails content */

/* Footer */
#footer{
    margin-top: 67px;
}