<div>
    <div>
        <h2>I miei filtri</h2>
    </div>
    <div>
        <select class="form-select mb-3">
            <option selected disabled>Location</option>
            <option value="Pianasino">Pianasino</option>
            <option value="Tarmento">Tarmento</option>
            <option value="Cave_del_Vescul">Cave del Vescul</option>
            <option value="Mocassinan">Mocassinan</option>
            <option value="Rettilis">Rettilis</option>
        </select>
        <select class="form-select mb-3">
            <option selected disabled>plant</option>
            <option value="Pianasino">Pianasino</option>
            <option value="Tarmento">Tarmento</option>
            <option value="Cave_del_Vescul">Cave del Vescul</option>
            <option value="Mocassinan">Mocassinan</option>
            <option value="Rettilis">Rettilis</option>
        </select>
        <select class="form-select mb-3">
            <option selected disabled>Track</option>
            <option value="Pianasino">S1.1</option>
            <option value="Tarmento">S1.2</option>
            <option value="Cave_del_Vescul">Cave del Vescul</option>
            <option value="Mocassinan">Mocassinan</option>
            <option value="Rettilis">Rettilis</option>
        </select>
        <select class="form-select mb-3">
            <option selected disabled>Difficulty</option>
            <option value="Pianasino">Facile</option>
            <option value="Tarmento">Medio</option>
            <option value="Cave_del_Vescul">Difficile</option>
        </select>
    </div>
</div>
